@font-face {
    font-family: Grunge_Tank; 
    src: url(Grunge_Tank.otf); 
}

body {
	background-image: url("../images/background.png");
	font: 100%/16px Helvetica;
}

ul{
	list-style-type: square;	
}

ul li{
	margin: 0 20px 20px 0;	
}

ul.newsList{
    padding: 0;
    list-style-type: square;
}

ul.newsList li{
    display: block;
}

#wrapper {
    background: #F5F5F5;
    margin: 0px auto;
    width: 960px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

header {
    background: linear-gradient(to bottom, #619dd9 0%,#619dd9 100%);
    box-shadow: inset 0px 0px 200px rgba(0,0,0, 0.5);
    height: 100px;
    padding: 2px;
    border-radius: 10px 10px 0px 0px;
}

p.header{
    font: 400% Grunge_Tank, Helvetica;
    text-align: center;
    margin: 12px auto;
    color: #F5F5F5;	
    text-shadow: 0 0 10px rgba(20,200,200,0.5);
}

p.header:hover{
    text-shadow: 0 0 10px rgba(20,200,200,0.7);
}

a.header{
	text-decoration: none;
	float: right;
	padding-right: 10px;
	color: #F5F5F5;
}

footer {
    background: #272727;
    padding: 2px;
    clear: both;
    border-radius: 0px 0px 10px 10px;
}
footer p {
    color: rgb(200,200,200);	
    text-align: center;
    font-size: 14px;
}

#content {
    margin: 10px auto;
    padding: 0px 15px 0px 15px;
    clear: both;
}

aside {
    margin: 0px;
    background-color: #333;
    height: 40px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.menu {
    list-style: none;
    margin: 0px auto;
    font-size: 18px;
}

.menu ul{
    list-style:none;
    width:100%;
    height:40px;
}

.menu li a{
    display:block;
    height:40px;
    padding:0 35px;
    float:left;
    text-transform: uppercase;
    font:70%/40px Helvetica,"microsoft sans serif",arial,sans-serif;
    color:#fff;
    text-decoration:none;
    text-align:center;
}

.menu li a:hover{
    background: rgba(0,0,0,0.3);
}

.menu li {
    border-right:1px solid #555;
    float: left;
	margin: 0;
}

.contentElement {
    padding: 5px 5px;
    min-height: 80px;
    border-radius: 10px;
}

.contentElement:hover {
    background-color:  #E5E5E5;
}